<div class="dash-sub-header-NoC">
  <h1 class="h4">Clientes</h1>

  <button routerLink="/dashboard/client/add" type="button" class="btn btn-primary">Adicionar cliente</button>

</div> 

  <div class="dash-body-No" *ngIf="!listPessoaClient || listPessoaClient.length === 0">
    <div class="box-body">
      <img src="../../../assets/icons/sem-clientes.svg" alt="">
      <h2 class="h5">Nenhum cliente cadastrado!</h2>
    </div> 
  </div>

  <div class="dash-body-Ye " *ngIf="listPessoaClient && listPessoaClient.length > 0">
    <table class="table">

      <thead>   
        <tr class="table-header">
          <th class="col-8">Nome - CPF/CNPJ</th> 

          <th class="col-2 text-center">Situação</th>

          <th class="col-3 text-center">Data do cadastro</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let dados of listPessoaClient" class="table-body">
          <td>
            <div class="name">
              <p>
                {{ dados.nome }} 
              </p>
              <p>{{ formatarCpfCnpj(dados.identificacao) }}</p>
            </div>
          </td>

          <td>
            <div class="Situacao-btn text-start"> 
              <div [ngClass]="{'btn-ativo': dados.cliente?.situacao === 'Ativo', 'none': dados.cliente?.situacao !== 'Ativo'}">
                {{ dados.cliente?.situacao }}
              </div>
              <div [ngClass]="{'btn-negative': dados.cliente?.situacao === 'Negativado', 'none': dados.cliente?.situacao !== 'Negativado'}">
                Negativo
              </div>
              <div [ngClass]="{'btn-inativo': dados.cliente?.situacao === 'Inativo', 'none': dados.cliente?.situacao !== 'Inativo'}">
                Inativo
              </div>
            </div>
          </td>

          <td class="date">
            <div>
              {{ dados.cliente?.data_cadastro | date:'dd/MM/yyyy' }}
            </div>
          </td>
 
          <td> 
            <div class="body-icons">
              <a class="edit" routerLink="/dashboard/client/edit/{{ dados.id_pessoa }}">
                <img src="../../../assets/icons/edit.svg" alt="Editar o o cliente">
              </a>
              <a class="delete" (click)="alterDeletePessoa()">
                <img src="../../../assets/icons/delete.svg" alt="Apagar o cliente">
              </a>
            </div>
          </td>

          <!-- Confirmar exclusão -->
          <div class="client-delete" *ngIf="showDeletePessoa">
            <div class="card">

              <div class="delete-header">
                <h3 class="card-header">Excluir cliente?</h3>
                <span (click)="alterDeletePessoa()"><img src="../../../../assets/icons/alertClose.svg" alt=""></span>
              </div>

              <div class="delete-body">
                <div class="delete-text">
                  <p>Você tem certeza que deseja excluir?</p>
                  <p >Os registros excluídos não poderão ser restaurados.</p>
                </div>

                <div class="delete-buttons">
                  <a class="btn-cancel" (click)="alterDeletePessoa()">Cancelar</a>
                  <button class="btn-del" (click)="deletePessoa(dados.id_pessoa)">Excluir</button>
                </div>
              </div>

            </div>
          </div>
        </tr>

      </tbody>

    </table>
  </div>


<app-footer></app-footer>