<div class="dash-sub-header-NoC">
  <h1 class="h4">Clientes</h1>

  <button routerLink="/dashboard/client/add" type="button" class="btn btn-primary">Adicionar cliente</button>

</div> 

  <div class="dash-body-No" *ngIf="!listPessoas || listPessoas.length === 0">
    <div class="box-body">
      <img src="../../../assets/icons/sem-clientes.svg" alt="">
      <h2 class="h5">Nenhum cliente cadastrado!</h2>
    </div> 
  </div>

  <div class="dash-body-Ye " *ngIf="listPessoas && listPessoas.length > 0">
    <table class="table">

      <thead>   
        <tr class="table-header">
          <th class="col-8">
            Nome - CPF/CNPJ 

          </th> 

          <th class="col-2 text-center">Situação</th>

          <th class="col-3 text-center">Data do cadastro</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let pessoa of listPessoas" class="table-body">
          <td>
            <div class="name">
              <p>
                {{ pessoa.nome }}
              </p>
              <p>{{ pessoa.identificacao }}</p>
            </div>
          </td>

          <td>
            <div class="Situacao-btn text-start"> 

              <div class="btn-ativo ">
                Ativo
              </div>

              <div class="btn-negative none">
                Negativo
              </div>

              <div class="btn-inativo none">
                Inativo
              </div>

            </div>
          </td>

          <td class="date">
            <div>
              28/06/1998
            </div>
          </td>

          <td> 
            <div class="body-icons">
              <a class="edit" routerLink="/dashboard/client/edit/{{ pessoa.id_pessoa }}">
                <img src="../../../assets/icons/edit.svg" alt="Editar o o cliente">
              </a>
              <a class="delete" (click)="toggleBlock()">
                <img src="../../../assets/icons/delete.svg" alt="Apagar o cliente">
              </a>
            </div>
          </td>

          <!-- Confirmar exclusão -->
          <div class="client-delete" [style.display]="mostrarBloco ? 'flex' : 'none'">
            <div class="card">

              <div class="delete-header">
                <h3 class="card-header">Excluir cliente?</h3>
                <span (click)="toggleBlock()"><img src="../../../../assets/icons/alertClose.svg" alt=""></span>
              </div>

              <div class="delete-body">
                <div class="delete-text">
                  <p>Você tem certeza que deseja excluir?</p>
                  <p >Os registros excluídos não poderão ser restaurados.</p>
                </div>

                <div class="delete-buttons">
                  <a class="btn-cancel" (click)="toggleBlock()">Cancelar</a>
                  <button class="btn-del" (click)="deletePessoa(pessoa.id_pessoa!)">Excluir</button>
                </div>
              </div>

            </div>
          </div>
        </tr>

      </tbody>

    </table>
  </div>


<app-footer></app-footer>